/***  START Box ***/
.box {
	box-sizing: border-box;
	margin-bottom: 20px;

	&__title {
		background: $mainColor;
		border-bottom: $darkColor 5px solid;
		color: $lightDarkColor;
		font-family: $h1Font;
		font-size: 1.35rem;
		font-weight: 700;
		padding: 25px 0;
		text-align: center;
	}

	&__inside {
		border: 1px solid #090909;
		font-family: $h2Font;
		font-size: 1.25rem;
		padding: 0 20px 20px;
		text-align: center;


		h2 {
			font-size: 1.35rem;
			padding: 7px 0;
		}




	}
}
/***  END Box  ***/
