/***  START Main Nav  ***/
.main-nav {
	background: $mainColor; 
	color: #fff; 
	display: block; 
	font-family: $hdrFont;
	padding: 21px 0;
	width: 100%;  

	@mixin forSml {
		border-radius: 50px; 
	}

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		border-right: 1px solid #FF5BBD;
		display: inline-block;
		list-style: none;

		@mixin forMed {
			padding: 5px 3px 5px 1px;
		}

		@mixin forLrg {
			padding: 10px 10px;
		}
	}

	li:last-child {
		border-right: 0;
	}

	a {
		color: $lightDarkColor;
		display: block;
		font-size: .75rem;
		text-decoration: none;
		text-transform: uppercase;

		@mixin forMed {
			font-size: .8rem;

		}

		@mixin forLrg {
			font-size: 1rem;
		}

		&.current-list-item,
		&:hover {
			color: $darkColor;
		}
		
	}
}
/***  END Main Nav  ***/
