/***  START Main Nav  ***/
.main-nav {
	background: $mainColor; 
	border-radius: 50px; 
	color: #fff; 
	display: block; 
	font-family: "Josefin Sans";
	padding: 21px 0;
	width: 100%;  


	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		border-right: 1px solid #FF5BBD;
		display: inline-block;
		list-style: none;

		@mixin forMed {
			padding: 10px 8px;
		}

		@mixin forLrg {
			padding: 10px 10px;
		}
	}

	li:last-child {
		border-right: 0;
	}

	a {
		color: $lightDarkColor;
		display: block;
		font-size: .75rem;
		text-decoration: none;
		text-transform: uppercase;

		@mixin forMed {
			font-size: .8rem;

			&.current-list-item {
				color: #000;
			}
		}

		@mixin forLrg {
			font-size: 1rem;
		}
	}
}
/***  END Main Nav  ***/
