/***  START Main Nav  ***/
.main-nav {
	background: $mainColor; 
	border-radius: 50px; 
	color: #fff; 
	display: block; 
	float: left;
	padding:21px 0;
	width: 100%;  
	@mixin clearFix;



	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		padding-right: 7px;

		@mixin forMed {
			display: block;
			float: $floatNavLinks;
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin forMed {
			padding-right: 20px;
		}
	}

	a {
		background-color: rgba($mainColor, .5);
		color: $lightDarkColor;
		display: block;
		font-size: .8rem;
		font-weight: 300;
		padding: 5px 8px;
		text-decoration: none;

		@mixin forMed {
			background-color: transparent;
			font-size: 1rem;
			padding: 12px 0;

			&.current-list-item {
				color: $minorColor;
			}
		}
	}
}
/***  END Main Nav  ***/
