/***  START Social Icons  ***/
.social-icons {

	&__icon {
		border-radius: 17px;
		display: inline-block;
		height: 35px;
		margin: 0;
		position: relative;
		width: 35px;

		@mixin forSml {
			border-radius: 20px;
			height: 40px;
			margin: 0 3px 13px 3px;
			width: 40px;
		}

		@mixin forLrg {
			margin: 0 11px 13px 5px;
		}

		&--facebook {
			background-color: #4267b2;
		}

		&--twitter {
			background-color: #1da1f2;
		}

		&--linkedin {
			background-color: #006097;
		}

		&--instagram {
			background-color: #993399;
		}

		&--mail-solid {
			background-color: $minorTwoColor;
		}

		&--call {
			background-color: $mainColor;
			height: 60px;
			width: 60px;
			border-radius: 30px;
		}



		.icon {
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%) scale(.4);
		}

		.icon--call {
			transform: translate(-50%, -50%) scale(.7);
		}

		.icon--mail {
			transform: translate(-50%, -50%) scale(.7);
		}
	}
}
/***  END Social Icons  ***/
