/***  START Global   ***/
* {
	box-sizing: border-box;
}

body {
	background-color: $lightColor;
	font-family: $bodyFont, sans-serif;
	color: $darkColor;
}

img {
	height: auto;
	max-width: 100%;
}

.center {
	text-align: center;
}
/***  END Global   ***/
