$mainColor: #ed008c;
$minorColor: #24a7b9;
$minorTwoColor: #2a9735;

$lightColor: #fff;
$darkColor: #010101;

$lightDarkColor: $lightColor;  



$bodyFont: 'Josefin Sans';
$hdrFont: 'Josefin Sans';
$h1Font: 'Josefin Sans';
$h2Font: 'Ubuntu';

$lowCaseFont: 'Ubuntu';
$upCaseFont: 'Josefin Sans';




$floatLeft: left;
$floatRight: right;
$floatNone: none;

$floatMainNav: $floatRight;
$floatNavLinks: $floatLeft;