$mainColor: #ed008c;
$minorColor: #24a7b9;

$lightColor: #fff;
$darkColor: #000;

$lightDarkColor: $lightColor;  



$bodyFont: 'Roboto';
$h1Font: '';
$h2font: '';




$floatLeft: left;
$floatRight: right;
$floatNone: none;

$floatMainNav: $floatRight;
$floatNavLinks: $floatLeft;