.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;      /* SHE -> 1400  */
	overflow: hidden;
	padding-left: 13px;
	padding-right: 13px;

	@mixin forSml {
		padding-left: 27px;
		padding-right: 27px;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	&--narrow {
		max-width: 425px;	
	}

}


