.row {

	@mixin clearFix;

	&--cols {
		margin-right: -30px;
	}

	&--cols > div {
		padding-right: 30px;
	}

	@mixin forMed {
		&__1third {
			float: left;
			width: 33%;
		}

		&__2third {
			float: left;
			width: 66%;
		}
	}
}