.row {

	@mixin clearFix;

	&--cols {
		margin-right: -30px;
	}

	&--cols > div {
		padding-right: 30px;
	}

	&__1third {
		float: left;
		width: 33%;
	}

	&__2third {
		float: left;
		width: 66%;
	}


	@mixin forSml {
		&__sm--half {
			float: left;
			width: 50%;
		}
	}

	@mixin forMed {

		&__md--wide {
			width: 100%;
		}

		&__md--1third {
			float: left;
			width: 33%;
		}

		&__md--2third {
			float: left;
			width: 66%;
		}

		&__md--half {
			float: left;
			width: 49%;
		}
	}

	.flexbox &--flex {
		@mixin forMed {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}